torch==2.8.0
pytorch-lightning==2.6.0
transformers==4.57.6
datasets==4.5.0
tokenizers==0.22.2
huggingface_hub==0.36.0
wandb==0.24.0
python-dotenv==1.2.1
numpy==2.0.2
filetype==1.2.0
opencv-python==5.0.0.93
moviepy==2.2.1
librosa==0.11.0
Pillow==11.3.0
soundfile==0.13.1
pypdf==6.15.0
python-docx==1.2.0
openpyxl==3.1.5
python-pptx==1.0.2
